<section id="contact" class="px-2 sm:px-5 mb-16 scroll-m-20 max-w-7xl mx-auto">
  <h2
    class="flex items-center mb-3 text-3xl font-semibold gap-x-3 text-black/80 dark:text-gray-400"
  >
    Contacto
  </h2>
  <div>
    <form class="space-y-4 pt-6">
      <div class="grid md:grid-cols-2 gap-3">
        <input
          type="text"
          placeholder="Nombre"
          class="w-full px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
        />
        <input
          type="email"
          placeholder="Email"
          class="w-full px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
        />
      </div>

      <input
        type="text"
        placeholder="Asunto"
        class="w-full px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
      />

      <textarea
        placeholder="Mensaje"
        rows={6}
        class="w-full px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
      ></textarea>

      <div class="flex justify-end">
        <button
          type="submit"
          class="px-8 py-2 bg-primary text-white rounded-md hover:bg-[#2e2e2e] active:bg-[#252525] transition duration-200 ease-in-out hover:scale-105"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</section>
