<footer
  class="px-8 py-4 mt-20 bg-primary dark:bg-primary-dark text-center flex"
>
  <div class="w-full text-white">
    © <span id="year"></span> Javier Martín Serrano
  </div>
</footer>

<script>
  const year = new Date().getFullYear();
  document.getElementById("year")!.textContent = year.toString();
</script>
