---
import GitHub from "./icons/GitHub.astro";
---

<footer class="px-8 py-4 mt-20 bg-primary text-center flex">
  <a
    href="https://github.com/javiermartins"
    target="_blank"
    class="hover:shadow-lg transition-all text-white duration-200 ease-in-out hover:scale-100 hover:-rotate-12 scale-90 opacity-70 hover:opacity-100"
    aria-label="Github javiermartins"
  >
    <GitHub />
  </a>
  <div class="w-full text-white">
    © <span id="year"></span> Javier Martín Serrano
  </div>
</footer>

<script>
  const year = new Date().getFullYear();
  document.getElementById("year")!.textContent = year.toString();
</script>
