---
import Translate from "./icons/Translate.astro";
import languagesData from "../data/languages";
import type { Language } from "../types/language";
import { getI18N } from "../i18n/";

const { currentLocale } = Astro;
const translate: any = getI18N({ currentLocale });

const languages = languagesData;
---

<div class="relative mx-0 sm:mx-1">
  <button
    id="translate-btn"
    class="appearance-none border-none flex transition-all duration-300 ease-in-out hover:scale-100 scale-90"
  >
    <Translate class="size-7" />
  </button>

  <div
    id="translate-menu"
    class="absolute hidden scale-80 top-full right-0 mt-1 text-sm p-1 min-w-[6rem] rounded-md bg-white/90 dark:bg-secondary-dark shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md"
  >
    <ul>
      {
        languages.map((language: Language) => {
          const [namespace, key] = language.name.split(".");
          const translateLanguage = translate[namespace][key];

          return (
            <li
              class="translate-menu-option cursor-pointer hover:bg-neutral-400/40 dark:hover:bg-gray-500/50 rounded-sm"
              class:list={{
                "font-extrabold bg-neutral-300/30":
                  language.value === currentLocale,
              }}
            >
              <a href={language.url} class="block h-full w-full px-2 py-1.5">
                {translateLanguage}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<style>
  #translate-menu.open {
    display: inline;
    animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes scale-up-center {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>

<script is:inline>
  const translateMenu = document.getElementById("translate-menu");

  document.getElementById("translate-btn").addEventListener("click", (e) => {
    e.stopPropagation();
    translateMenu.classList.toggle("open");
  });

  translateMenu.addEventListener("click", (e) => {
    e.stopPropagation();
  });

  document.addEventListener("click", () =>
    translateMenu.classList.remove("open")
  );
</script>
