---
import projectsData from "../data/projects";
import CodeIcon from "./icons/Code.astro";
import ProjectCard from "./ProjectCard.astro";
import { getI18N } from "../i18n/";
import ArrowRight from "./icons/ArrowRight.astro";

const { currentLocale } = Astro;
const translate: any = getI18N({ currentLocale });

const projects = projectsData;
---

<section id="projects" class="px-2 sm:px-5 mb-20 scroll-m-20 max-w-7xl mx-auto">
  <h2
    class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-gray-200"
  >
    <CodeIcon class="size-7" />
    {translate.COMMON.PROJECTS}
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      projects.map((project, index) => (
        <article
          class="relative cursor-pointer flex flex-col bg-gray-100 rounded-xl dark:bg-secondary-dark transition duration-500 ease-in-out transform hover:shadow-lg group"
          data-aos="fade-down"
          data-aos-delay={`${(projects.length + index) * 100}`}
          data-aos-duration="800"
          data-aos-offset="-10"
        >
          <ProjectCard project={project} />
        </article>
      ))
    }
  </div>
  <div class="mt-5">
    <a
      href="https://github.com/javiermartins?tab=repositories"
      target="_blank"
      class="group font-bold text-lg hover:opacity-60 transition-all duration-500 ease-in-out"
    >
      {translate.COMMON.OTHERPROJECTS}
      <ArrowRight />
    </a>
  </div>
</section>
