---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="Javier Martín Serrano" />
    <title>Javier Martín Serrano | Portfolio</title>
    <ClientRouter />
  </head>
  <body class="dark:text-white dark:bg-primary-dark">
    <slot />
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    overscroll-behavior: none;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .section @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
