---
import "aos/dist/aos.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="author" content="Javier Martín Serrano" />
    <title>Javier Martín Serrano | Portfolio</title>
    <meta
      name="description"
      content="Portfolio de Javier Martín Serrano, desarrollador web especializado en crear aplicaciones web y móviles. Ofrezco soluciones personalizadas utilizando tecnologías como Angular o Astro"
    />
    <ClientRouter />
  </head>
  <body class="dark:text-white dark:bg-primary-dark">
    <slot />

    <script>
      import { aosInit } from "../../public/js/aos";

      aosInit();
    </script>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  @font-face {
    font-family: "Mulish";
    src: url("/fonts/Mulish_variable.ttf") format("truetype");
  }

  html {
    font-family: "Mulish", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    overscroll-behavior: none;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
